*{
    font-family: "Times New Roman", Times, serif;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexRow a {
    margin-right: 15px;
}
.cardMargin {
    margin: 5px;
    padding: 5px;
}
.gainerColor {
    background-color: rgb(149, 255, 255);
}
.loserColor {
    background-color: rgb(255, 201, 101);
}
.newsCard {

    background-color: rgb(230, 230, 230);
    border: 3px solid rgb(184, 184, 184);
    max-width: 30%;
    margin-top: 10px;
    border-radius: 25px;

}
.cryptoColor {
    background-color: rgba(56, 187, 4, 0.884);
    color: white;
}
.cryptoText {
    color: whitesmoke;
}
.cryptoText header {
    font-weight: bold;
}

.tickerBar {display: flex;
    align-items: center;
    padding: 0.7em 0;
    border-radius: 10px;
    }

.headerTitle {
    align-items: center;
}