.search {
  display: inline;
}

.searchInputs {
  display: flex;
  justify-content: center;
  align-items: center;
}


.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 20px;
  height: 20px;
  width: 300px;
  display: inline-block;
}

.searchIcon {
  height: 20px;
  width: 20px;
  background-color: white;
  display: grid;
  place-items: center;
  display: inline-block;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 20px;
}

.dataResult {
  margin-top: 10px;
  width: 400px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 2;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}