nav {
    /* position: fixed; */
    top: 0%;
    width: 100%;
    height: 50px;
    display: inline-block;
}

.navbarLinks {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative
}
.rightNavbarLinks {
    list-style-type: none;
    height: 100%;
    display: flex;
    float:right;
    justify-content: right;
    align-items: center;
    position: relative;
    margin-left: 15%;
}

.leftLink {
    margin-right: 20px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.rightLink {
    margin-right: 20px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    justify-content: right;
    align-items: right;
}

.arrowbtn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}


@media screen and (max-width: 500px){

    nav {
        /* position: fixed; */
        top: 0%;
        width: 100%;
        display: block;
    }
    .navbarLinks {
        flex-direction: column;
        height: auto;
    }
    .leftLink:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .leftLink {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .arrowbtn {
        display: block;
    }
    /* TODO: BACKGROUND FOR DROPDOWN MENU */
}